
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --search-width : 230px;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    margin :0;
}
.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    /* border: 1px solid rgb(25, 0, 255); */

}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/************************ HEADER **************************/
header{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /* border: 1px solid rgb(17, 0, 255); */
    height: 80px;
}
.box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid red; */
}
.box-logo img{
    width: 61px;
    height: 19px;
    cursor: pointer;
}
.titles {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    /* border: 1px solid rgb(0, 255, 89); */
}
.title{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 35px;
    border-top: 2px solid #fff;
    position: relative;
    width: 105px;
    /* border: 1px solid red; */
}
.title:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/********************* MAIN *******************************/

/************** searching ****************/
.searching{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slogan-h1{
    font-size: 22px;
    margin-bottom: 7px;
}
.slogan-p{
    font-size: 16px;
    margin: 0;
}

/******** location-bar **********/
.location-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.location-icon{
    background-color: var(--main-bg-color);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location-input{
    text-align: center;
    width: var(--search-width);
    height: 50px;
    box-sizing: border-box;
    border: none;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid var(--filter-bg-color);
}
.btn-search{
    background-color: var(--main-color);
    padding: 15px 16px;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
.btn-search .text{
    display: inline;
}
.btn-search i{
    display: none;
}


/******** filter-bar **********/
.filter-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.filter-bar > span{
    font-weight: 700;
}
.list-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    /* border: 1px solid black; */
}
.filter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    border-radius: 25px;
    padding: 4px 19px;
    font-weight: 700;
    cursor: pointer;
}
.filter:hover{
    background-color: var(--filter-bg-color);
}

/******** info-bar **********/
.info-bar{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}
.box-icon{
    position: relative;
    border: 1px solid var(--filter-bg-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.box-icon > svg{
    position: absolute;
    top: 7px;
    left: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards a{
    /* background-color: aqua; */
    width: 30%;
    height: 200px;
}
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    margin-top: 33px;
    margin-bottom: 33px;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid black; */
}
.hebergements-cards img {
    height: 60%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.hebergements-cards .card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}
.hebergements-cards .card-subtitle {
    margin: 0 0 5px 0;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************** Activities ****************/
.activities {
    padding: 30px;
    /* border: 1px solid black; */
    /* overflow-x: hidden; */
}
.activities-cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}
.activities-cards a {
    width: 22%;
    height: 439px;
    /* background-color: aqua; */
}
.activities-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.activities-cards img {
    /* width: 230px; */
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
    /* border: 1px solid black; */
}
.activities-cards .card-content {
    height: 15%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}


/************************ FOOTER **************************/
footer {
    display: flex;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
}
footer div {
    width: 33%;
    padding: 20px;
}
.footer-title {
    font-size: 18px;
}
footer ul{
    padding-left: 0;
    list-style: none;
}
footer li {
    margin-bottom: 15px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/********** Medium devices (tablets, less/equal than 1024px) ************/
@media (max-width: 1024px) {
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        /* border: 1px solid red; */
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /********** Activities ************/
    .activities-cards a{
        height: 200px;
    }
    .activities-cards img {
        height: 74%;
    }
    .activities-cards .card-content {
        height: 26%;
    }
    .activities-cards .card-title {
        font-size: 13px;
    }
}

/*************** Small devices (phones, less than 768px) ***************/
@media (min-width: 320px) and (max-width: 767px) {
    /* general */
    .main-container {
        padding: 0;
    }
    
    /* HEADER */
    header {
        flex-direction: column;
        height: 115px;
    }
    .box-logo {
        width: 100%;
        padding: 30px 0;
    }
    .titles{
        width: 100%;
        gap: 0;
    }
    .title {
        width: 50%;
        align-items: flex-start;
        border-bottom: 2px solid #fff;
    }
    .title:hover{
        border-top: 2px solid #fff;
        border-bottom: 2px solid var(--main-color);
    }
    /* MAIN */
    /* searching */
    .searching{
        padding: 0 20px;
    }
    /* location */
    .location-input{
        /* width: calc(var(--search-width) + 80px); */
        width: 100%;
        margin-right: -20px;
    }
    .btn-search{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .btn-search .text{
        display: none;
    }
    .btn-search i{
        display: inline;
    }
    /* filter-bar */
    .filter {
        width: 32%;
        font-size: 13px;
    }
    .list-filters{
        align-items: center;
    }

    /* hebergement-populaires */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
    }
    /* populaires */
    .populaires {
        margin-top: 20px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 100%;
    }
    /* hebergements */
    .hebergements{
        background-color: white !important;
        /* border: 1px solid black; */
        flex-direction: column;
    }
    .hebergements-cards a{
        /* background-color: aqua; */
        width: 100%;
    }
    
    /* activities */
    .activities-cards a {
        width: 100%;
    } 
    .activities-cards {
        flex-direction: column;
        width: 100%;
    }
    .activities-cards img {
        height: 70%;
    }
    .activities-cards .card-content {
        height: 30%;
    }
    /************************ FOOTER **************************/
    footer {
        flex-direction: column;
    }
    footer div {
        width: 100%;
    }
    
}